{% extends 'smartapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="content-header">
  <h1>
    Change Password
    <small>...</small>
  </h1>
  <br/>

</section>

<div class="box box-primary">
    <form method="post">
        <div class="box-body" style="padding-top:15px">
            <div class="col-md-6">
              <!-- <h2>Login</h2> -->
              <form class="" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-primary">Update</button>
              </form>

            </div>
        </div>
</div>


{% endblock %}
