{% extends 'smartapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<section class="content-header">
  <h1>
    Password Reset Completed!
    <small>...</small>
  </h1>
  <br/>

</section>

<div class="box box-primary">
        <div class="box-body" style="padding-top:15px">
            <div class="col-md-6">

                <p>Your password has been set. You may go ahead and login now.</p>
                <a href="{% url 'login' %}"><button type="submit" class="btn btn-primary">Login</button></a>

            </div>
        </div>
</div>


{% endblock %}
