{% extends 'smartapp/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
<!-- {% load mathfilters %} -->
{% block title %}Statement of Budget Analysis{% endblock title %}
{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
</section>

<!-- Main content -->
<section class="invoice">
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                {% for cat in companyinfo.all %}
                <strong>{{cat.name}}</strong><br>
                {{cat.address}}<br>
                {% endfor %}
            </address>
        </div>


    </div>
    <!-- /.row -->
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> <b>Budget Analysis Report</b>
                <small class="pull-right">
                    <p id="date">Date: </p>
                </small>
            </h2>
        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                            <tr style="font-size:12px;">
                                <th></th>
                                <th style="text-align: center;">BUDGET</th>
                                <th style="text-align: center;">JAN</th>
                                <th style="text-align: center;">FEB</th>
                                <th style="text-align: center;">MAR</th>
                                <th style="text-align: center;">APR</th>
                                <th style="text-align: center;">MAY</th>
                                <th style="text-align: center;">JUN</th>
                                <th style="text-align: center;">JUL</th>
                                <th style="text-align: center;">AUG</th>
                                <th style="text-align: center;">SEP</th>
                                <th style="text-align: center;">OCT</th>
                                <th style="text-align: center;">NOV</th>
                                <th style="text-align: center;">DEC</th>
                                <th style="text-align: center;">TOTAL</th>
                                <th style="text-align: center;">BALANCE</th>
                            </tr>
                        </thead>

                        {% for cat in budgetdept.all %}
                        <thead>
                            <tr>
                                <th>{{cat.department_name}} {{cat.department_code}}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for act in budgetItems %}
                            {% if act.department|stringformat:"s" == cat.department_name|stringformat:"s" %}
                            <tr style="text-align: right; font-size:9px;">
                                <td>{{act.budgetName}}</td>
                                <td>{{act.budgetAmount|floatformat:2|intcomma}}</td>
                                <td>{{act.Jan|floatformat:2|intcomma}}</td>
                                <td>{{act.Feb|floatformat:2|intcomma}}</td>
                                <td>{{act.Mar|floatformat:2|intcomma}}</td>
                                <td>{{act.Apr|floatformat:2|intcomma}}</td>
                                <td>{{act.May|floatformat:2|intcomma}}</td>
                                <td>{{act.Jun|floatformat:2|intcomma}}</td>
                                <td>{{act.Jul|floatformat:2|intcomma}}</td>
                                <td>{{act.Aug|floatformat:2|intcomma}}</td>
                                <td>{{act.Sep|floatformat:2|intcomma}}</td>
                                <td>{{act.Oct|floatformat:2|intcomma}}</td>
                                <td>{{act.Nov|floatformat:2|intcomma}}</td>
                                <td>{{act.Dec|floatformat:2|intcomma}}</td>
                                <td>{{act.Total|floatformat:2|intcomma}}</td>
                                <td>{{act.Bal|floatformat:2|intcomma}}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                            {% for item in budgetTotals %}
                            {% if item.department|stringformat:"s" == cat.department_name|stringformat:"s" %}
                            <tr style="text-align: right; font-size:9px;">
                                <td><b>Sub Total</b></td>
                                <td><b>{{item.budget_sum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JanSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.FebSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.MarSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.AprSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.MaySum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JunSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JulSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.AugSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.SepSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.OctSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.NovSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.DecSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.TotalSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.BalSum|floatformat:2|intcomma}}</b></td>
                            </tr>
                            {% endif %}
                            {% endfor %}

                        </tbody>

                        {% endfor %}

                        <tfoot>

                            {% for item in budgetSumTotals %}
                            <tr style="text-align: right; font-size:9px;">
                                <td><b>Total</b></td>
                                <td><b>{{item.budget_sum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JanSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.FebSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.MarSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.AprSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.MaySum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JunSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.JulSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.AugSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.SepSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.OctSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.NovSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.DecSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.TotalSum|floatformat:2|intcomma}}</b></td>
                                <td><b>{{item.BalSum|floatformat:2|intcomma}}</b></td>
                            </tr>
                            {% endfor %}

                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->

            </div>
        </div>
        <!-- /.col -->
    </div>


    <!-- jjjjj -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="#" class="btn btn-success pull-right" onclick="window.print();"><i class="fa fa-print"></i> Print
                Report</a>

        </div>
    </div>
</section>
<!-- /.content -->
<div class="clearfix"></div>

<script type="text/javascript">
    n = new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = d + "/" + m + "/" + y;

    console.log("Hellooooo")
</script>

{% endblock %}