{% extends 'smartapp/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<section class="content-header">

    <div class="col-xs-12 col-md-3">
        <label>
            OPENING BALANCE ENTRY MODULE
            <small>...</small>
        </label>
    </div>

    <div class="col-xs-12 col-md-8 pull-right">
        <div class="pull-right form-group col-xs-4 col-md-3">
            <a href="{% url 'begbalance_list' %}"><button class="btn btn-danger form-control"
                    type="submit">EXIT</button></a>
        </div>
        <!-- <div class="pull-right form-group col-xs-4 col-md-3">
            <button class="btn btn-primary form-control" onClick="" data-toggle="modal"
                data-target="#journalModal">JOURNAL</button>
        </div> -->
        <div class="pull-right form-group col-xs-4 col-md-3">
            <button class="btn btn-success form-control" onClick="postRecord()">POST TO G.L</button>
        </div>
    </div>

</section>


<section>

    <div class="box box-primary col-xs-12 col-md-12">
        <div class="box-body" style="padding-top:15px">
            <div class="col-xs-12">
                <form id="receiptMainForm">
                    {% if expensemain %}
                    <!-- formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds; -->
                    <div class="row">
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Entry Date</label>
                            <input class="form-control" type="text" name="test" id="test" placeholder=""
                                value='{{ expensemain.entrydate|date:"d/m/Y"}}' required>
                            <input class="form-control" value='{{ expensemain.entrydate|date:"Y-m-d" }}'
                                type="datetime-local" onload="" name="trans_date" id="trans_date" required>
                            <input class="form-control" id="main-id" type="hidden" name="mainId"
                                value="{{expensemain.id}}" />
                        </div>
                        <div class="col-xs-6 col-md-1 form-group">
                            <label for="">Months</label>
                            <select name="month_dur" id="month_dur" class="form-control">
                                <option value="1" {% if expensemain.duration == '1' %}selected{% endif %}>1</option>
                                <option value="2" {% if expensemain.duration == '2' %}selected{% endif %}>2</option>
                                <option value="3" {% if expensemain.duration == '3' %}selected{% endif %}>3</option>
                                <option value="4" {% if expensemain.duration == '4' %}selected{% endif %}>4</option>
                                <option value="5" {% if expensemain.duration == '5' %}selected{% endif %}>5</option>
                                <option value="6" {% if expensemain.duration == '6' %}selected{% endif %}>6</option>
                                <option value="7" {% if expensemain.duration == '7' %}selected{% endif %}>7</option>
                                <option value="8" {% if expensemain.duration == '8' %}selected{% endif %}>8</option>
                                <option value="9" {% if expensemain.duration == '9' %}selected{% endif %}>9</option>
                                <option value="10" {% if expensemain.duration == '10' %}selected{% endif %}>10</option>
                                <option value="11" {% if expensemain.duration == '11' %}selected{% endif %}>11</option>
                                <option value="12" {% if expensemain.duration == '12' %}selected{% endif %}>12</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Period Start Date:</label>
                            <input class="form-control" type="datetime-local" onload="" name="period_start"
                                value="{{expensemain.periodstart}}" id="period_start" required disabled>

                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Period End Date:</label>
                            <input class="form-control" type="datetime-local" onload="" name="period_end"
                                value="{{expensemain.periodend}}" id="period_end" required disabled>
                        </div>

                        <div class="col-xs-6 col-md-1 form-group" hidden>
                            <label for="">Period No.</label>
                            <input class="form-control" type="text" id="period_number" name="period_number"
                                value="{{expensemain.periodno}}" required disabled>

                        </div>

                        <div class="col-xs-12 col-md-1 form-group">
                            <label for="">Year</label>
                            <input class="form-control" type="text" name="acct_year" id="acct_year" placeholder=""
                                value="{{expensemain.year}}" required disabled>
                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Debit:</label>
                            <input class="form-control" type="text" name="total_debit" id="total_db" placeholder="0.00"
                                value="{{total_debit}}" required disabled>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Credit:</label>
                            <input class="form-control" type="text" name="total_credit" id="total_cr" placeholder="0.00"
                                value="{{total_credit}}" required disabled>
                        </div>
                    </div>

                    {% else %}
                    <div class="row">
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Entry Date</label>
                            <input class="form-control" type="datetime-local" onload="" name="trans_date"
                                id="trans_date" required>
                            <input class="form-control" id="main-id" type="hidden" name="mainId" />
                        </div>
                        <div class="col-xs-6 col-md-1 form-group">
                            <label for="">Months</label>
                            <select name="month_dur" id="month_dur" class="form-control">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12" selected>12</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Period Start Date:</label>
                            <input class="form-control" type="datetime-local" onload="" name="period_start"
                                id="period_start" required disabled>

                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Period End Date:</label>
                            <input class="form-control" type="datetime-local" onload="" name="period_end"
                                id="period_end" required disabled>
                        </div>
                        <div class="col-xs-6 col-md-1 form-group" hidden>
                            <label for="">Period No.</label>
                            <input class="form-control" type="text" id="period_number" name="period_number"
                                value="{{max_period.max_val|add:1}}" required disabled>
                        </div>
                        <div class="col-xs-12 col-md-1 form-group">
                            <label for="">Year</label>
                            <input class="form-control" type="text" name="acct_year" id="acct_year" placeholder=""
                                value="Year {{max_period.max_val|add:1}}" required disabled>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Debit:</label>
                            <input class="form-control" type="text" name="total_debit" id="total_db" placeholder="0.00"
                                required disabled>
                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Credit:</label>
                            <input class="form-control" type="text" name="total_credit" id="total_cr" placeholder="0.00"
                                required disabled>
                        </div>

                    </div>

                    {% endif %}

                    <!-- <button type="submit">Save</button> -->
                </form>

            </div>
        </div>

    </div>



    <div class="box box-primary col-xs-12">

        <div class="box-body">
            <div class="col-md-12">
                <h4>Enter Details</h4>
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <!-- <h3>ADD USER</h3> -->
                        <form id="receiptSub" action="">
                            <div class="row">
                                <div class="col-xs-12 col-md-4 form-group">
                                    <label for="">Account</label>
                                    <select name="credit_account" id="credit_account" class="form-control" required>
                                        <option></option>
                                        {% for item in note_acct %}
                                        <option value="{{ item.id }}">{{ item.item_name }} |
                                            {{item.sub_category__sub_category_name}} |
                                            {{item.sub_category__category_code__category_name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-6 col-md-2 form-group" hidden>
                                    <label for="">Category</label>
                                    <select name="expense_account" id="expense" class="form-control" required>
                                        <option></option>
                                        {% for item in expense_acct %}
                                        <option value="{{ item.id }}">{{ item.sub_category_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <!-- <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" required> -->
                                </div>
                                <div class="col-xs-12 col-md-3 form-group">
                                    <label for="">Description</label>
                                    <input class="form-control" type="text" value="Opening Balance" id="item_descr"
                                        name="item_description" placeholder="description" required>
                                </div>
                                <div class="col-xs-4 col-md-2 form-group">
                                    <label for="">Debit</label>
                                    <input class="form-control" type="text" name="debit_amount" placeholder="0.00">
                                </div>
                                <div class="col-xs-4 col-md-2 form-group">
                                    <label for="">Credit</label>
                                    <input class="form-control" type="text" name="credit_amount" placeholder="0.00">
                                </div>
                                <div class="col-xs-4 col-md-1">
                                    <label for=""></label>
                                    <button class="btn btn-primary form-control" type="submit">ADD</button>
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary form-control" type="submit">SUBMIT</button> -->
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <!-- <h4>...</h4> -->
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <table id="itemTable" class="table table-striped">
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Debit</th>
                                <th colspan="3">Credit</th>
                            </tr>
                            <!-- table_list -->
                            {% if expenseitems %}
                            {% for item in expenseitems %}
                            <tr id="item-{{item.id}}">
                                <td class="itemExpenseAcct itemData" name="expense">{{item.account_id}}</td>
                                <td class="itemCreditAcct itemData" name="credit">{{item.sub_category}}</td>
                                <td class="itemDescription itemData" name="description">{{item.description}}</td>
                                <td class="itemAmount itemData" style="text-align: right;" name="debit">
                                    {{item.debit|floatformat:2}}
                                </td>
                                <td class="itemAmount itemData" style="text-align: right;" name="credit">
                                    {{item.credit|floatformat:2}}
                                </td>
                                <td align="center">
                                    <button class="btn btn-success form-control" onClick="editItem({{item.id}})"
                                        data-toggle="modal" data-target="#myModal">EDIT</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-danger form-control"
                                        onClick="deleteItem({{item.id}})">DELETE</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <!-- No Item Listed -->
                            {% endif %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

                <label for="">...</label>

                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>




    </div>

</section>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Details</h4>
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <form id="updateReceiptSub" action="">
                        <input class="form-control" id="form-id" type="hidden" name="formId" />
                        <div class="form-group">
                            <input class="form-control" type="text" id="form-description" name="formdescription"
                                placeholder="description" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" id="form-amount" name="formamount"
                                placeholder="0.00" required>
                        </div>
                        <div class="form-group">
                            <label for="">Expense Category</label>
                            <select name="formexpense_account" id="form-expense" class="form-control" required>
                                {% for item in expense_acct %}
                                <option value="{{ item.id }}">{{ item.sub_category_name }}
                                </option>
                                {% endfor %}
                            </select>
                            <!-- <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" required> -->
                        </div>
                        <div class="form-group">
                            <label for="">Debit Account</label>
                            <select name="formcredit_account" id="form-credit_account" class="form-control" required>
                                {% for item in note_acct %}
                                <option value="{{ item.id }}">{{ item.item_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary form-control" type="submit">UPDATE RECORD</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-danger form-control"
                                data-dismiss="modal">CLOSE</button>
                        </div>


                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- END Edit Modal -->

<!-- View Journal Modal -->
<div id="journalview">
    {% include 'account/journal_view.html' %}
</div>
<!-- END Journal Modal -->

{% endblock %}

{% block javascript %}
<script>
    var CategoryCode, CategoryCode2, CategoryId, duration;
    var trans_date, amountInput, debit_acct, credit_acct, totalDebit, totalCredit;
    $(document).ready(function () {

        $("select#month_dur").change(function () {
            month = $(this).children("option:selected").val();
            compute_date(month);
        });

        $("#trans_date").change(function () {
            month = $("select#month_dur").children("option:selected").val();
            compute_date(month);
        });


        $("select#cash").change(function () {
            CategoryCode = $(this).children("option:selected").val();
            populate_account_items(CategoryCode, 'debit_account');
        });

        $("select#expense,select#form-expense").change(function () {
            CategoryCode2 = $(this).children("option:selected").val();
            populate_account_items(CategoryCode2, 'credit_account');
            populate_account_items(CategoryCode2, 'form-credit_account');
        });


        $("select#debit_account").change(function () {
            debit_acct = $(this).children("option:selected").val();
            console.log(debit_acct)
        });

        $("select#credit_account").change(function () {
            credit_acct = $(this).children("option:selected").val();
            item_selected = $(this).find('option:selected').text()
            n = item_selected.indexOf("|")
            item_selected = item_selected.substr(0, n - 1)
            //alert(credit_acct);
            $('#item_descr').val('Opening Balance - ' + item_selected);
            console.log(credit_acct)
            get_cat_item(credit_acct, 'expense');
        });


        //DATE PICKER
        $.fn.setNow = function (onlyBlank) {
            var now = new Date($.now())
                , year
                , month
                , date
                , hours
                , minutes
                , seconds
                , formattedDateTime
                ;

            year = now.getFullYear();
            month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
            date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
            hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
            minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
            seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

            formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;
            //formattedDateTime = year + '-' + month + '-' + date;

            if (onlyBlank === true && $(this).val()) {
                return this;
            }

            $(this).val(formattedDateTime);

            return this;
        }

        $(function () {
            if ($('#main-id').val()) {
                mainID = $('input[name="mainId"]').val().trim();
                $.ajax({
                    url: '{% url "get_date_value" %}',
                    data: {
                        'main_ID': mainID
                    },
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);
                        itemID = data.selected_date;
                        $("#trans_date").val(itemID);
                        //$("#trans_date").val(itemID + "T01:01");

                    },
                });

            }
            else {
                // Handler for .ready() called.
                $('input[type="datetime-local"]').setNow();
            }

        });

        //DEFAULTS
        if ($('#main-id').val()) {
            CategoryCode = $('#cash').children("option:selected").val();
            CategoryCode2 = $('#expense').children("option:selected").val();
            debit_acct = $('#debit_account').children("option:selected").val();
            credit_acct = $('#credit_account').children("option:selected").val();

        }
        else {
            $('#cash, #expense, #debit_acct').val('');
            $('#total_db', '#total_cr').val('0.00');
        }

    });

    function compute_date(month) {
        //alert('SELECTED MONTH: ' + month)
        selected_date = $('#trans_date').val()
        //alert('SELECTED DATE: ' + selected_date)
        $('#period_start').val(selected_date);

        var d = new Date(selected_date); // January 1, 2000
        d.setMonth(d.getMonth() + month);
        d.setDate(d.getDate() - 1);
        console.log(d);

        year = d.getFullYear();
        month = d.getMonth().toString().length === 1 ? '0' + (d.getMonth() + 1).toString() : d.getMonth() + 1;
        date = d.getDate().toString().length === 1 ? '0' + (d.getDate()).toString() : d.getDate();
        hours = d.getHours().toString().length === 1 ? '0' + d.getHours().toString() : d.getHours();
        minutes = d.getMinutes().toString().length === 1 ? '0' + d.getMinutes().toString() : d.getMinutes();
        seconds = d.getSeconds().toString().length === 1 ? '0' + d.getSeconds().toString() : d.getSeconds();

        formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;

        console.log(formattedDateTime);

        $('#period_end').val(formattedDateTime);


        SaveMainRecord();
    }

    function populate_account_items(CatCode, acctId) {
        $.ajax({
            url: '{% url "populate_noteitems" %}',
            data: {
                'sub_category': CatCode
            },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                $("#" + acctId + " option").remove();
                for (var i = result.length - 1; i >= 0; i--) {
                    //$("#" + acctId).append('<option>' + result[i].item + '</option>');
                    $("#" + acctId).append('<option value="' + result[i].itemID + '">' + result[i].item + '</option>');
                };
                $("#" + acctId).val('');
            },
        });

    }

    function get_cat_item(ItemCode, acctId) {
        $.ajax({
            url: '{% url "get_acctcat" %}',
            data: {
                'item_code': ItemCode
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                itemID = data.selected_category;
                $("#" + acctId).val(itemID);
                CategoryCode2 = itemID;

            },
        });

    }

    function postRecord() {
        ref_no = $('input[name="period_number"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        trans_date = $('input[name="trans_date"]').val().trim();

        //alert(mainID);

        $.ajax({
            url: '{% url "gjournal_post" %}',
            data: {
                'ref_number': ref_no,
                'mainID': mainID,
                'trans_date': trans_date,
            },
            dataType: 'json',
            success: function (data) {
                alert('Recorded Posted Successfully!')

            },
        });

    }


    function SaveMainRecord() {
        trans_date = $('input[name="trans_date"]').val().trim();
        period_no = $('input[name="period_number"]').val().trim();
        period_start = $('input[name="period_start"]').val().trim();
        period_end = $('input[name="period_end"]').val().trim();
        acct_year = $('input[name="acct_year"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        duration = $("select#month_dur").children("option:selected").val();

        /*
        alert(period_start);
        alert(duration);
        alert(period_end);
        */

        $.ajax({
            url: '{% url "begbalance_savemain" %}',
            data: {
                'period_number': period_no,
                'mainID': mainID,
                'trans_date': trans_date,
                'period_start': period_start,
                'period_end': period_end,
                'acct_year': acct_year,
                'month_dur': duration,
            },
            dataType: 'json',
            success: function (data) {
                alert('Record Saved Successfully!')

            },
        });

    }


    // Create Django Ajax Call
    $("#receiptSub").submit(function () {
        // alert("Stage 1...");

        trans_date = $('input[name="trans_date"]').val().trim();
        period_no = $('input[name="period_number"]').val().trim();
        period_start = $('input[name="period_start"]').val().trim();
        period_end = $('input[name="period_end"]').val().trim();
        acct_year = $('input[name="acct_year"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        description = $('input[name="item_description"]').val().trim();
        duration = $("select#month_dur").children("option:selected").val();
        debitInput = $('input[name="debit_amount"]').val().trim();
        creditInput = $('input[name="credit_amount"]').val().trim();
        totalDebit = $('input[name="total_debit"]').val().trim();
        totalCredit = $('input[name="total_credit"]').val().trim();

        //alert("Stage 2...");

        console.log(trans_date);
        console.log(period_no);
        console.log(debitInput);
        console.log(creditInput);
        console.log(description);
        console.log(CategoryCode2);
        console.log(duration);

        //alert("Stage 3...");
        if (debitInput && creditInput) {
            alert("You cannot enter value in both debit and credit.");
        }
        else if (!(debitInput || creditInput)) {
            alert("You must enter either a debit or credit value.");
        }
        else {

            if (trans_date && period_no && description && CategoryCode2) {
                // Create Ajax Call
                //alert("Stage 4...");
                if (!(debitInput)) { debitInput = 0 }
                if (!(creditInput)) { creditInput = 0 }
                if (!(totalDebit)) { totalDebit = 0 }
                if (!(totalCredit)) { totalCredit = 0 }

                $.ajax({
                    url: '{% url "begbalance_ajax_create" %}',
                    data: {
                        'trans_date': trans_date,
                        'period_number': period_no,
                        'period_start': period_start,
                        'period_end': period_end,
                        'acct_year': acct_year,
                        'month_dur': duration,
                        'mainID': mainID,
                        'description': description,
                        'expense_account': CategoryCode2,
                        'credit_account': credit_acct,
                        'debit_amount': debitInput,
                        'credit_amount': creditInput,
                        'total_debit': totalDebit,
                        'total_credit': totalCredit,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.expense_main) {
                            alert('Success!!!')
                            //clearList();
                            console.log(data.expense_sub)
                            console.log(data.expense_main.Mainid)
                            $('#main-id').val(data.expense_main.Mainid);
                            $('#total_db').val(data.total_debit);
                            $('#total_cr').val(data.total_credit);
                            rec = data.expense_sub
                            $("#itemTable > tbody:last-child").append(`
                <tr id="item-${rec.Subid}">
                    <td class="itemDescription" name="description">${rec.description}</td>
                    '<td class="itemExpenseAcct" name="expense">${rec.expense_account}</td>
                    '<td class="itemCreditAcct" name="credit">${rec.debit_account}</td>
                    '<td class="itemAmount" name="debit">${rec.debit}</td>
                    '<td class="itemAmount" name="credit">${rec.credit}</td>
                    '<td align="center">
                        <button class="btn btn-success form-control" onClick="editItem(${rec.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger form-control" onClick="deleteItem(${rec.id})">DELETE</button>
                    </td>
                </tr>
              `);

                        }

                        if (data.journal_list) {
                            console.log(data.journal_list)
                            populateJournalList(data.journal_list);
                        }
                    }
                });
            } else {
                alert("All fields must have a valid value.");
            }
            //$('form#receiptSub').trigger("reset");
            return false;
        }
        return false;
    });


    $(function () {
        $(".select-placeholder").prepend("<option value='' disabled selected>Select an option...</option>");
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })

    function clearList() {
        console.log('CLEAR LIST');
        $('#itemTable tr').each(function () {
            //console.log(this.id)
            var str = this.id;
            var res = str.split("-").pop()
            //var res = this.id.slice(5, 6);
            console.log(res);
            $("#itemTable #item-" + res).remove();

        })
    }

    function clearJournalList() {
        console.log('CLEAR JOURNAL LIST');
        $('#journalTable tr').each(function () {
            //console.log(this.id)
            var str = this.id;
            var res = str.split("-").pop()
            //var res = this.id.slice(5, 6);
            console.log(res);
            $("#journalTable #item-" + res).remove();

        })
    }

    function populateJournalList(journal_list) {
        var count = 0;
        var ref_id, sub_category, account_id, description, debit, credit;

        clearJournalList();

        console.log('POPULATE LIST');
        $.each(JSON.parse(journal_list), function () {
            $.each(this, function (k, v) {
                /// do stuff
                console.log(v);
                if (count == 1) {
                    ref_id = v;
                } else if (count == 2) {
                    sub_category = v['sub_category'];
                    account_id = v['account_id'];
                    description = v['description'];
                    debit = v['debit'];
                    credit = v['credit'];
                } else {

                }

                count = count + 1;
            });

            count = 0;
            console.log(ref_id, '-', sub_category, '-', account_id, '-', description, '-', debit, '-', credit);

            $("#journalTable > tbody:last-child").append(`
        <tr id="item-${ref_id}">
            <td class="itemCategory" name="category">${sub_category}</td>
            '<td class="itemExpenseAcct" name="account">${account_id}</td>
            '<td class="itemDescription itemData" name="description">${description}</td>
            '<td class="itemDebitAcct itemData" style="text-align: right;" name="debit">${debit}</td>
            '<td class="itemCreditAcct itemData" style="text-align: right;" name="credit">${credit}</td>
        </tr>
    `);


            console.log('###');
        });

    }


    function deleteItem(id) {
        var action = confirm("Are you sure you want to delete this item?");
        mainID = $('input[name="mainId"]').val().trim();
        period_no = $('input[name="period_number"]').val().trim();

        if (action != false) {
            $.ajax({
                url: '{% url "begbalance_ajax_delete" %}',
                data: {
                    'id': id,
                    'mainID': mainID,
                    'period_number': period_no
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        alert('Item deleted Successfully')
                        console.log(id);
                        $("#itemTable #item-" + id).remove();
                        $('#total_db').val(data.total_sum);
                        $('#total_cr').val(data.total_sum);
                        //$("#itemTable).remove();
                    }
                }
            });
        }
    }

    function editItem(id) {
        if (id) {
            tr_id = "#item-" + id;
            description = $(tr_id).find(".itemDescription").text();
            ExpenseAcct = $(tr_id).find(".itemExpenseAcct").text();
            creditAcct = $(tr_id).find(".itemCreditAcct").text();
            amount = $(tr_id).find(".itemAmount").text();

            $.ajax({
                url: '{% url "ajax_getacctID" %}',
                data: {
                    'creditAcct': creditAcct,
                },
                dataType: 'json',
                success: function (data) {
                    //alert('SUCCESS!!!');

                    $('#form-id').val(id);
                    $('#form-description').val(description);
                    $('#form-expense').val(data.cat_id);
                    $('#form-credit_account').val(data.note_id);
                    $('#form-amount').val(amount);

                }
            });

        }
    }

</script>

{% endblock %}