{% extends 'smartapp/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block content %}
<section class="content-header">

    <div class="col-xs-12 col-md-3">
        <label>
            JOURNAL ENTRY MODULE
            <small>...</small>
        </label>
    </div>

    <div class="col-xs-12 col-md-8 pull-right">
        <div class="pull-right form-group col-xs-4 col-md-3">
            <a href="{% url 'gjournal_list' %}"><button class="btn btn-danger form-control"
                    type="submit">EXIT</button></a>
        </div>
        <div class="pull-right form-group col-xs-4 col-md-3">
            <button class="btn btn-primary form-control" onClick="" data-toggle="modal"
                data-target="#journalModal">JOURNAL</button>
        </div>
        <div class="pull-right form-group col-xs-4 col-md-3">
            <button class="btn btn-success form-control" onClick="postRecord()">POST</button>
        </div>
    </div>

</section>


<section>

    <div class="box box-primary col-xs-12 col-md-12">
        <div class="box-body" style="padding-top:15px">
            <div class="col-xs-12">
                <form id="receiptMainForm">
                    {% if expensemain %}
                    <div class="row">
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Journal Date</label>
                            <input class="form-control" value="{{expensemain.date}}" type="datetime-local" onload=""
                                name="trans_date" id="date" required>
                            <input class="form-control" id="main-id" type="hidden" name="mainId"
                                value="{{expensemain.id}}" />
                        </div>

                        <div class="col-xs-6 col-md-1 form-group">
                            <label for="">Ref. No.</label>
                            <input class="form-control" type="text" id="voucher_no" name="voucher_number"
                                value="{{expensemain.ref_number}}" required disabled>

                        </div>

                        <div class="col-xs-12 col-md-5 form-group">
                            <label for="">Narrative / Title:</label>
                            <input class="form-control" type="text" name="bill_to" id="bill_to" placeholder=""
                                value="{{expensemain.description}}" required>
                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Debit:</label>
                            <input class="form-control" type="text" name="total_debit" id="total_db" placeholder="0.00"
                                value="{{total_debit|intcomma}}" required disabled>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Credit:</label>
                            <input class="form-control" type="text" name="total_credit" id="total_cr" placeholder="0.00"
                                value="{{total_credit|intcomma}}" required disabled>
                        </div>
                    </div>

                    {% else %}
                    <div class="row">
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Journal Date</label>
                            <input class="form-control" type="datetime-local" onload="" name="trans_date" id="date"
                                required>
                            <input class="form-control" id="main-id" type="hidden" name="mainId" />
                        </div>

                        <div class="col-xs-6 col-md-1 form-group">
                            <label for="">Ref. No.</label>
                            <input class="form-control" type="text" id="voucher_no" name="voucher_number"
                                value="{{max_expense.max_val|add:1}}" required disabled>
                        </div>
                        <div class="col-xs-12 col-md-5 form-group">
                            <label for="">Narrative / Title:</label>
                            <input class="form-control" type="text" name="bill_to" id="bill_to" placeholder="" required>
                        </div>
                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Debit:</label>
                            <input class="form-control" type="text" name="total_debit" id="total_db" placeholder="0.00"
                                required disabled>
                        </div>

                        <div class="col-xs-6 col-md-2 form-group">
                            <label for="">Total Credit:</label>
                            <input class="form-control" type="text" name="total_credit" id="total_cr" placeholder="0.00"
                                required disabled>
                        </div>

                    </div>

                    {% endif %}

                    <!-- <button type="submit">Save</button> -->
                </form>

            </div>
        </div>

    </div>


    <div class="box box-primary col-xs-12">

        <div class="box-body">
            <div class="col-md-12">
                <h4>Enter Details</h4>
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <!-- <h3>ADD USER</h3> -->
                        <form id="receiptSub" action="">
                            <div class="row">
                                <div class="col-xs-6 col-md-2 form-group">
                                    <label for="">Account</label>
                                    <select name="credit_account" id="credit_account" class="form-control" required>
                                        <option></option>
                                        {% for item in note_acct %}
                                        <option value="{{ item.id }}">{{ item.item_name }} |
                                            {{item.sub_category__sub_category_name}} |
                                            {{item.sub_category__category_code__category_name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-6 col-md-2 form-group">
                                    <label for="">Category</label>
                                    <select name="expense_account" id="expense" class="form-control" required>
                                        <option></option>
                                        {% for item in expense_acct %}
                                        <option value="{{ item.id }}">{{ item.sub_category_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <!-- <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" required> -->
                                </div>
                                <div class="col-xs-12 col-md-3 form-group">
                                    <label for="">Item Description</label>
                                    <input class="form-control" type="text" name="description" placeholder="description"
                                        required>
                                </div>
                                <div class="col-xs-6 col-md-2 form-group">
                                    <label for="">Debit</label>
                                    <input class="form-control" type="text" name="debit_amount" placeholder="0.00">
                                </div>
                                <div class="col-xs-6 col-md-2 form-group">
                                    <label for="">Credit</label>
                                    <input class="form-control" type="text" name="credit_amount" placeholder="0.00">
                                </div>
                                <div class="col-xs-6 col-md-1">
                                    <label for=""></label>
                                    <button class="btn btn-primary form-control" type="submit">SAVE</button>
                                </div>
                            </div>
                            <!-- <button class="btn btn-primary form-control" type="submit">SUBMIT</button> -->
                        </form>

                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <!-- <h4>...</h4> -->
                <!-- /.box -->
                <div class="box">
                    <div class="box-body">
                        <table id="itemTable" class="table table-striped">
                            <tr>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Debit</th>
                                <th colspan="3">Credit</th>
                            </tr>
                            <!-- table_list -->
                            {% if expenseitems %}
                            {% for item in expenseitems %}
                            <tr id="item-{{item.id}}">
                                <td class="itemAccount itemData" name="expense">{{item.account}}</td>
                                <td class="itemCategory itemData" name="credit">{{item.sub_category}}</td>
                                <td class="itemDescription itemData" name="description">{{item.description}}</td>
                                <td class="itemDebit itemData" style="text-align: right;" name="debit">
                                    {{item.debit|floatformat:2|intcomma}}
                                </td>
                                <td class="itemCredit itemData" style="text-align: right;" name="credit">
                                    {{item.credit|floatformat:2|intcomma}}
                                </td>
                                <td align="center">
                                    <button class="btn btn-success form-control" onClick="editItem({{item.id}})"
                                        data-toggle="modal" data-target="#myModal">EDIT</button>
                                </td>
                                <td align="center">
                                    <button class="btn btn-danger form-control"
                                        onClick="deleteItem({{item.id}})">DELETE</button>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <!-- No Item Listed -->
                            {% endif %}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>

                <label for="">...</label>

                <!-- /.box -->
            </div>
            <!-- /.col -->

        </div>


    </div>

</section>

<!-- Edit Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Details</h4>
            </div>
            <!-- /.box -->
            <div class="box">
                <div class="box-body">
                    <form id="updateReceiptSub" action="">
                        <input class="form-control" id="form-id" type="hidden" name="formId" />
                        <div hidden class="form-group">
                            <label for="">Expense Category</label>
                            <select name="expense_acct_edit" id="expense_acct_edit" class="form-control" required>
                                {% for item in expense_acct %}
                                <option value="{{ item.id }}">{{ item.sub_category_name }}
                                </option>
                                {% endfor %}
                            </select>
                            <!-- <input class="form-control" type="number" name="age" min="10" max="100" placeholder="Age" required> -->
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="sub_id" type="hidden" name="sub_id" />
                            <label for="">Account</label>
                            <select name="credit_account_edit" id="credit_account_edit" class="form-control" required>
                                {% for item in note_acct %}
                                <option value="{{ item.id }}">{{ item.item_name }} |
                                    {{item.sub_category__sub_category_name}} |
                                    {{item.sub_category__category_code__category_name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <input class="form-control" type="text" id="description_edit" name="description_edit"
                                placeholder="description" required>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Debit</label>
                            <input class="form-control" type="text" id="debit_amt_edit" name="debit_amt_edit"
                                placeholder="0.00" style="text-align: right;">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="">Credit</label>
                            <input class="form-control" type="text" id="credit_amt_edit" name="credit_amt_edit"
                                placeholder="0.00" style="text-align: right;">
                        </div>


                    </form>
                    <div class="col-sm-6">
                        <button class="btn btn-primary form-control" onclick="saveRecordEdit()" type="button">UPDATE
                            RECORD</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-danger form-control" data-dismiss="modal">CLOSE</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- END Edit Modal -->


<!-- View Journal Modal -->
<div id="journalview">
    {% include 'account/journal_view.html' %}
</div>
<!-- END Journal Modal -->

{% endblock %}

{% block javascript %}
<script>
    var CategoryCode, CategoryCode2, CategoryId;
    var trans_date, amountInput, debit_acct, credit_acct, totalDebit, totalCredit;
    $(document).ready(function () {

        $("select#cash").change(function () {
            CategoryCode = $(this).children("option:selected").val();
            populate_account_items(CategoryCode, 'debit_account');
        });

        $("select#expense,select#expense_acct_edit").change(function () {
            CategoryCode2 = $(this).children("option:selected").val();
            populate_account_items(CategoryCode2, 'credit_account');
            populate_account_items(CategoryCode2, 'credit_account_edit');
        });


        $("select#debit_account").change(function () {
            debit_acct = $(this).children("option:selected").val();
            console.log(debit_acct)
        });

        $("select#credit_account").change(function () {
            credit_acct = $(this).children("option:selected").val();
            get_cat_item(credit_acct, 'expense');
        });

        $("select#credit_account_edit").change(function () {
            credit_acct = $(this).children("option:selected").val();
            get_cat_item(credit_acct, 'expense_acct_edit');
        });

        //DATE PICKER
        $.fn.setNow = function (onlyBlank) {
            var now = new Date($.now())
                , year
                , month
                , date
                , hours
                , minutes
                , seconds
                , formattedDateTime
                ;

            year = now.getFullYear();
            month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
            date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
            hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
            minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
            seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

            formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;

            if (onlyBlank === true && $(this).val()) {
                return this;
            }

            $(this).val(formattedDateTime);

            return this;
        }

        $(function () {
            // Handler for .ready() called.
            $('input[type="datetime-local"]').setNow();

        });

        //DEFAULTS
        if ($('#main-id').val()) {
            CategoryCode = $('#cash').children("option:selected").val();
            CategoryCode2 = $('#expense').children("option:selected").val();
            debit_acct = $('#debit_account').children("option:selected").val();
            credit_acct = $('#credit_account').children("option:selected").val();

        }
        else {
            $('#cash, #expense, #debit_acct').val('');
            $('#total_db', '#total_cr').val('0.00');
        }

    });


    function populate_account_items(CatCode, acctId) {
        $.ajax({
            url: '{% url "populate_noteitems" %}',
            data: {
                'sub_category': CatCode
            },
            dataType: 'json',
            success: function (result) {
                console.log(result);
                $("#" + acctId + " option").remove();
                for (var i = result.length - 1; i >= 0; i--) {
                    //$("#" + acctId).append('<option>' + result[i].item + '</option>');
                    $("#" + acctId).append('<option value="' + result[i].itemID + '">' + result[i].item + '</option>');
                };
                $("#" + acctId).val('');
            },
        });

    }

    function ReplaceNumberWithCommas(yourNumber) {
        //Seperates the components of the number
        var n = yourNumber.toString().split(".");
        //If no decimal values, add '.00'
        if (!(n[1])) { n[1] = '00' }
        //Comma-fies the first part
        n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //Combines the two sections
        return n.join(".");
    }


    function get_cat_item(ItemCode, acctId) {
        $.ajax({
            url: '{% url "get_acctcat" %}',
            data: {
                'item_code': ItemCode
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                itemID = data.selected_category;
                $("#" + acctId).val(itemID);
                CategoryCode2 = itemID;

            },
        });

    }

    viewJournal();

    function viewJournal() {
        ref_no = $('input[name="voucher_number"]').val().trim();
        var journal_url = '/smartsetup/journal_view/(' + ref_no + ')/(GJ)'

        $.ajax({
            url: journal_url,
            success: function () {
                $("#journalview").load(journal_url);
            },
        });
    }

    function postRecord() {
        ref_no = $('input[name="voucher_number"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        trans_date = $('input[name="trans_date"]').val().trim();
        totalDebit = $('input[name="total_debit"]').val().trim();
        totalCredit = $('input[name="total_credit"]').val().trim();

        if (totalDebit == '0.00' || totalDebit == '0') { totalDebit = '' }
        if (totalCredit == '0.00' || totalCredit == '0') { totalCredit = '' }

        //alert("Stage 3...");
        if (totalDebit == '' && totalCredit == '') {
            alert("ABORTED!!! No opening balance item to be posted.");
        }
        else if (!(totalDebit == totalCredit) && !(totalDebit == '' && totalCredit == '')) {
            alert("ABORTED!!! The total debit value must be equal to total credit value.");
        }
        else {

            $.ajax({
                url: '{% url "gjournal_post" %}',
                data: {
                    'ref_number': ref_no,
                    'mainID': mainID,
                    'trans_date': trans_date,
                },
                dataType: 'json',
                success: function (data) {
                    alert('Recorded Posted Successfully!')

                    viewJournal();
                },
            });

        }
    }

    // Create Django Ajax Call
    $("#receiptSub").submit(function () {
        //alert("Stage 1...");

        trans_date = $('input[name="trans_date"]').val().trim();
        voucher_no = $('input[name="voucher_number"]').val().trim();
        received_from = $('input[name="bill_to"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        description = $('input[name="description"]').val().trim();
        //amountInput = $('input[name="amount"]').val().trim();
        debitInput = $('input[name="debit_amount"]').val().trim();
        creditInput = $('input[name="credit_amount"]').val().trim();
        totalDebit = parseFloat($('input[name="total_debit"]').val().trim());
        totalCredit = parseFloat($('input[name="total_credit"]').val().trim());

        //alert("Stage 2...");

        console.log(trans_date);
        console.log(voucher_no);
        console.log(debitInput);
        console.log(creditInput);
        console.log(received_from);
        console.log(CategoryCode2);
        if (debitInput && creditInput) {
            alert("You cannot enter value in both debit and credit.");
        }
        else if (!(debitInput || creditInput)) {
            alert("You must enter either a debit or credit value.");
        }
        else {

            if (trans_date && voucher_no && description && received_from) {
                // Create Ajax Call
                //alert("Stage 3...");
                if (!(debitInput)) { debitInput = 0 }
                if (!(creditInput)) { creditInput = 0 }
                if (!(totalDebit)) { totalDebit = 0 }
                if (!(totalCredit)) { totalCredit = 0 }

                $.ajax({
                    url: '{% url "gjournal_ajax_create" %}',
                    data: {
                        'trans_date': trans_date,
                        'voucher_number': voucher_no,
                        'bill_to': received_from,
                        'mainID': mainID,
                        'description': description,
                        'expense_account': CategoryCode2,
                        'credit_account': credit_acct,
                        'debit_amount': debitInput,
                        'credit_amount': creditInput,
                        'total_debit': totalDebit,
                        'total_credit': totalCredit,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.expense_main) {
                            alert('Success!!!')
                            //clearList();
                            console.log(data.expense_sub)
                            console.log(data.expense_main.Mainid)
                            $('#main-id').val(data.expense_main.Mainid);
                            $('#total_db').val(data.total_debit);
                            $('#total_cr').val(data.total_credit);
                            rec = data.expense_sub
                            $("#itemTable > tbody:last-child").append(`
                <tr id="item-${rec.Subid}">
                    <td class="itemDescription" name="description">${rec.description}</td>
                    '<td class="itemAccount" name="expense">${rec.expense_account}</td>
                    '<td class="itemCategory" name="credit">${rec.debit_account}</td>
                    '<td align="right" class="itemDebit" name="debit">${ReplaceNumberWithCommas(rec.debit)}</td>
                    '<td align="right" class="itemCredit" name="credit">${ReplaceNumberWithCommas(rec.credit)}</td>
                    '<td align="center">
                        <button class="btn btn-success form-control" onClick="editItem(${rec.Subid})" data-toggle="modal" data-target="#myModal")">EDIT</button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger form-control" onClick="deleteItem(${rec.Subid})">DELETE</button>
                    </td>
                </tr>
              `);

                        }

                        if (data.journal_list) {
                            console.log(data.journal_list)
                            populateJournalList(data.journal_list);
                        }
                    }
                });
            } else {
                alert("All fields must have a valid value.");
            }
            //$('form#receiptSub').trigger("reset");
            return false;
        }
        return false;
    });

    function saveRecordEdit() {
        //alert('EDIT RECORD ?');
        trans_date = $('input[name="trans_date"]').val().trim();
        voucher_no = $('input[name="voucher_number"]').val().trim();
        received_from = $('input[name="bill_to"]').val().trim();
        mainID = $('input[name="mainId"]').val().trim();
        description = $('input[name="description_edit"]').val().trim();
        debitInput = $('input[name="debit_amt_edit"]').val().trim();
        creditInput = $('input[name="credit_amt_edit"]').val().trim();
        totalDebit = parseFloat($('input[name="total_debit"]').val().trim());
        totalCredit = parseFloat($('input[name="total_credit"]').val().trim());
        CategoryCode2 = $("#expense_acct_edit").children("option:selected").val();
        credit_acct = $("#credit_account_edit").children("option:selected").val();

        subID = $('input[name="sub_id"]').val().trim();

        //alert("Stage 2...");

        console.log(trans_date);
        console.log(voucher_no);
        console.log(debitInput);
        console.log(creditInput);
        console.log(description);
        console.log(CategoryCode2);
        console.log(subID);

        if (debitInput == '0.00' || debitInput == '0') { debitInput = '' }
        if (creditInput == '0.00' || creditInput == '0') { creditInput = '' }

        //alert("Stage 3...");
        if (debitInput && creditInput) {
            alert("You cannot enter value in both debit and credit.");
        }
        else if (!(debitInput || creditInput)) {
            alert("You must enter either a debit or credit value.");
        }
        else {

            if (trans_date && voucher_no && description && received_from) {
                // Create Ajax Call
                //alert("Stage 4...");
                if (!(debitInput)) { debitInput = 0 }
                if (!(creditInput)) { creditInput = 0 }
                if (!(totalDebit)) { totalDebit = 0 }
                if (!(totalCredit)) { totalCredit = 0 }

                $.ajax({
                    url: '{% url "gjournal_ajax_create" %}',
                    data: {
                        'trans_date': trans_date,
                        'voucher_number': voucher_no,
                        'bill_to': received_from,
                        'mainID': mainID,
                        'description': description,
                        'expense_account': CategoryCode2,
                        'credit_account': credit_acct,
                        'debit_amount': debitInput,
                        'credit_amount': creditInput,
                        'total_debit': totalDebit,
                        'total_credit': totalCredit,
                        'subID': subID,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.expense_main) {
                            //alert('Success!!!')

                            $("#itemTable #item-" + subID).remove();
                            console.log(data.expense_sub)
                            console.log(data.expense_main.Mainid)
                            $('#main-id').val(data.expense_main.Mainid);
                            $('#total_db').val(ReplaceNumberWithCommas(data.total_debit));
                            $('#total_cr').val(ReplaceNumberWithCommas(data.total_credit));
                            rec = data.expense_sub
                            //alert(rec.Subid);
                            $("#itemTable > tbody:last-child").append(`
                <tr id="item-${rec.Subid}">
                    <td class="itemAccount" name="credit">${rec.debit_account}</td>
                    '<td class="itemCategory" name="expense">${rec.expense_account}</td>
                    '<td class="itemDescription" name="description">${rec.description}</td>
                    '<td class="itemDebit" name="debit">${ReplaceNumberWithCommas(rec.debit)}</td>
                    '<td class="itemCredit" name="credit">${ReplaceNumberWithCommas(rec.credit)}</td>
                    '<td align="center">
                        <button class="btn btn-success form-control" onClick="editItem(${rec.Subid})" data-toggle="modal" data-target="#myModal")">EDIT</button>
                    </td>
                    <td align="center">
                        <button class="btn btn-danger form-control" onClick="deleteItem(${rec.Subid})">DELETE</button>
                    </td>
                </tr>
              `);

                        }

                        if (data.journal_list) {
                            console.log(data.journal_list)
                            populateJournalList(data.journal_list);
                        }
                    }
                });

            } else {
                alert("All fields must have a valid value.");
            }
            $('form#updateReceiptSub').trigger("reset");
            $('#myModal').modal('hide');
            return false;
        }
        return false;

    }



    $(function () {
        $(".select-placeholder").prepend("<option value='' disabled selected>Select an option...</option>");
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })

    function clearList() {
        console.log('CLEAR LIST');
        $('#itemTable tr').each(function () {
            //console.log(this.id)
            var str = this.id;
            var res = str.split("-").pop()
            //var res = this.id.slice(5, 6);
            console.log(res);
            $("#itemTable #item-" + res).remove();

        })
    }

    function clearJournalList() {
        console.log('CLEAR JOURNAL LIST');
        $('#journalTable tr').each(function () {
            //console.log(this.id)
            var str = this.id;
            var res = str.split("-").pop()
            //var res = this.id.slice(5, 6);
            console.log(res);
            $("#journalTable #item-" + res).remove();

        })
    }

    function populateJournalList(journal_list) {
        var count = 0;
        var ref_id, sub_category, account_id, description, debit, credit;

        clearJournalList();

        console.log('POPULATE LIST');
        $.each(JSON.parse(journal_list), function () {
            $.each(this, function (k, v) {
                /// do stuff
                console.log(v);
                if (count == 1) {
                    ref_id = v;
                } else if (count == 2) {
                    sub_category = v['sub_category'];
                    account_id = v['account_id'];
                    description = v['description'];
                    debit = v['debit'];
                    credit = v['credit'];
                } else {

                }

                count = count + 1;
            });

            count = 0;
            console.log(ref_id, '-', sub_category, '-', account_id, '-', description, '-', debit, '-', credit);

            $("#journalTable > tbody:last-child").append(`
        <tr id="item-${ref_id}">
            <td class="itemCategory" name="category">${sub_category}</td>
            '<td class="itemAccount" name="account">${account_id}</td>
            '<td class="itemDescription itemData" name="description">${description}</td>
            '<td class="itemDebit itemData" style="text-align: right;" name="debit">${ReplaceNumberWithCommas(debit)}</td>
            '<td class="itemCredit itemData" style="text-align: right;" name="credit">${ReplaceNumberWithCommas(credit)}</td>
        </tr>
    `);


            console.log('###');
        });

    }


    function unpostRecord() {
        //var action = confirm("Are you sure you want to delete this item?");
        //mainID = $('input[name="mainId"]').val().trim();
        voucher_no = $('input[name="voucher_number"]').val().trim();

        if (action != false) {
            $.ajax({
                url: '{% url "gjournal_ajax_unpost" %}',
                data: {
                    'voucher_number': voucher_no
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        alert('Journal Unposted Successfully')
                        //$("#itemTable #item-" + id).remove();
                        //$('#total_db').val(ReplaceNumberWithCommas(data.total_sum));
                        //$('#total_cr').val(ReplaceNumberWithCommas(data.total_sum));
                        //$("#itemTable).remove();
                    }
                    if (data.journal_list) {
                        populateJournalList(data.journal_list);
                    }
                }
            });
        }
    }


    function deleteItem(id) {
        var action = confirm("Are you sure you want to delete this item?");
        mainID = $('input[name="mainId"]').val().trim();
        voucher_no = $('input[name="voucher_number"]').val().trim();

        if (action != false) {
            $.ajax({
                url: '{% url "gjournal_ajax_delete" %}',
                data: {
                    'id': id,
                    'mainID': mainID,
                    'voucher_number': voucher_no
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        alert('Item deleted Successfully')
                        console.log(id);
                        $("#itemTable #item-" + id).remove();
                        $('#total_db').val((data.total_debit) ? ReplaceNumberWithCommas(data.total_debit) : '0.00');
                        $('#total_cr').val((data.total_credit) ? ReplaceNumberWithCommas(data.total_credit) : '0.00');

                        //if (data.total_debit) { $('#total_db').val(ReplaceNumberWithCommas(data.total_debit)); }
                        //if (data.total_debit) { $('#total_cr').val(ReplaceNumberWithCommas(data.total_credit)); }
                        //$("#itemTable).remove();

                        unpostRecord();
                    }
                }
            });
        }
    }


    function editItem(id) {
        //alert('MY ID IS ' + id);
        if (id) {
            tr_id = "#item-" + id;
            description = $(tr_id).find(".itemDescription").text();
            ExpenseAcct = $(tr_id).find(".itemAccount").text();
            creditAcct = $(tr_id).find(".itemCategory").text();
            debitAmt = $(tr_id).find(".itemDebit").text().trim();
            creditAmt = $(tr_id).find(".itemCredit").text().trim();

            //alert('MY ACCOUNT IS ' + ExpenseAcct);

            $.ajax({
                url: '{% url "ajax_getacctID" %}',
                data: {
                    'creditAcct': ExpenseAcct,
                    'type': 'GJ',
                },
                dataType: 'json',
                success: function (data) {
                    //alert('SUCCESS!!!');

                    $('#form-id').val(id);
                    $('#description_edit').val(description);
                    $('#expense_acct_edit').val(data.cat_id);
                    $('#credit_account_edit').val(data.note_id);
                    $('#debit_amt_edit').val(debitAmt);
                    $('#credit_amt_edit').val(creditAmt);
                    $('#sub_id').val(id);

                }
            });

        }
    }


    function editItem(id) {
        //alert('MY ID IS ' + id);
        if (id) {
            tr_id = "#item-" + id;
            description = $(tr_id).find(".itemDescription").text();
            ExpenseAcct = $(tr_id).find(".itemAccount").text();
            creditAcct = $(tr_id).find(".itemCategory").text();
            debitAmt = $(tr_id).find(".itemDebit").text().trim();
            creditAmt = $(tr_id).find(".itemCredit").text().trim();

            //alert('MY ACCOUNT IS ' + ExpenseAcct);

            $.ajax({
                url: '{% url "ajax_getacctID" %}',
                data: {
                    'creditAcct': ExpenseAcct,
                    'type': 'GJ',
                },
                dataType: 'json',
                success: function (data) {
                    //alert('SUCCESS!!!');

                    $('#form-id').val(id);
                    $('#description_edit').val(description);
                    $('#expense_acct_edit').val(data.cat_id);
                    $('#credit_account_edit').val(data.note_id);
                    $('#debit_amt_edit').val(debitAmt);
                    $('#credit_amt_edit').val(creditAmt);
                    $('#sub_id').val(id);

                }
            });

        }
    }


</script>

{% endblock %}